<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" v-model="category" placeholder="New category"
                       aria-label="New category" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button @click="addNewCategory(category)" class="btn btn-outline-secondary" type="button">Add
                    </button>
                </div>
            </div>
            <draggable element="div" class="col-md-12" v-model="categories" :options="{group:'categories'}">
                <transition-group class="row">
                    <div class="col-md-4" v-for="element,index in categories" :key="element.id">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title" @dblclick="editCategory(element)">
                                    <textarea v-if="element === editingCategory" class="text-input"
                                              @keyup.enter="endCategoryEditing(element)"
                                              @blur="endCategoryEditing(element)"
                                              v-model="element.name"></textarea>
                                    <span v-if="element !== editingCategory">{{element.name}}</span>
                                    <button @click="deleteCategory(element.id, index)"
                                            v-if="element !== editingCategory" type="button" class="close"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h4>
                            </div>
                            <div class="card-body card-body-dark">
                                <draggable :options="{group:'tasks'}" element="div" @end="changeOrder"
                                           v-model="element.tasks">
                                    <transition-group :id="element.id">
                                        <div v-for="(task,parent_index) in element.tasks" :key="task.id"
                                             :category_id="element.id" class="transit-1" :id="task.id">
                                            <div class="small-card" @dblclick="editTask(task)">
                                                <textarea v-if="task === editingTask" class="text-input"
                                                          @keyup.enter="endEditing(task)" @blur="endEditing(task)"
                                                          v-model="task.name"></textarea>
                                                <label for="checkbox" v-if="task !== editingTask">{{ task.name
                                                    }}</label>
                                                <button @click="deleteTask(task.id, parent_index, index)"
                                                        v-if="task !== editingTask" type="button" class="close"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </transition-group>
                                </draggable>
                                <div class="small-card">
                                    <h5 class="text-center" @click="addNew(index)">Add new task</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </transition-group>
            </draggable>
        </div>
    </div>
</template>

<style scoped>
    .card {
        border: 0;
        border-radius: 0.5rem;
    }

    .transit-1 {
        transition: all 1s;
    }

    .small-card {
        padding: 1rem;
        background: #f5f8fa;
        margin-bottom: 5px;
        border-radius: .25rem;
    }

    .card-body-dark {
        background-color: #ccc;
    }

    textarea {
        overflow: visible;
        outline: 1px dashed black;
        border: 0;
        padding: 6px 0 2px 8px;
        width: 100%;
        height: 100%;
        resize: none;
    }
</style>

<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable
        },
        data() {
            return {
                category: null,
                categories: [],
                editingTask: null,
                editingCategory: null
            }
        },
        methods: {
            addNewCategory(name) {
                if (name) {
                    axios.post('api/category', {name}).then(response => {
                        let newCategory = response.data.data;
                        newCategory.tasks = [];
                        this.categories.push(newCategory);
                    })
                }
            },
            addNew(id) {
                let name = "New task"
                let category_id = this.categories[id].id
                let order = this.categories[id].tasks.length

                axios.post('api/task', {name, order, category_id}).then(response => {
                    this.categories[id].tasks.push(response.data.data)
                    this.editingTask = response.data.data
                })
            },
            loadTasks() {
                this.categories.map(category => {
                    axios.get(`api/category/${category.id}/tasks`).then(response => {
                        category.tasks = response.data
                    })
                })
            },
            changeOrder(data) {
                if (data.oldIndex !== data.newIndex || data.item.attributes.category_id.value !== data.to.id) {
                    axios.patch(`api/task/${data.item.id}`, {
                        order: data.newIndex,
                        category_id: data.to.id
                    }).then(response => {
                    });
                }
            },
            endEditing(task) {
                this.editingTask = null
                axios.patch(`api/task/${task.id}`, {name: task.name}).then(response => {
                })
            },
            endCategoryEditing(category) {
                this.editingCategory = null
                axios.patch(`api/category/${category.id}`, {name: category.name}).then(response => {
                })
            },
            deleteTask(task, task_index, category_index) {

                axios.delete(`api/task/${task}`).then(response => {
                    this.categories[category_index].tasks.splice(task_index, 1);
                })
            },
            deleteCategory(category, index) {
                axios.delete(`api/category/${category}`).then(response => {
                    this.categories.splice(index, 1);
                })
            },

            editTask(task) {
                this.editingTask = task
            },
            editCategory(category) {
                this.editingCategory = category
            },
        },
        mounted() {
            let token = localStorage.getItem('jwt')

            axios.defaults.headers.common['Content-Type'] = 'application/json'
            axios.defaults.headers.common['Authorization'] = 'Bearer ' + token

            axios.get('api/category').then(response => {
                response.data.forEach((data) => {
                    this.categories.push({
                        id: data.id,
                        name: data.name,
                        tasks: []
                    })
                })
                this.loadTasks()
            })
        },
        beforeRouteEnter(to, from, next) {
            if (!localStorage.getItem('jwt')) {
                return next('login')
            }

            next()
        }
    }
</script>