<template>
    
</template>

<script>
    export default {
        name: "Logout",
        mounted() {
            localStorage.removeItem('jwt');
            window.location.replace("/");

        },

    }
</script>
